@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,100;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 25vh;
}

.gsc-control-cse {
  border-radius: 50px;
  width: 100%;
}

.gsib_b {
  width: 15dvw;
  border-radius: 50px;
}

.soc-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#browser-logo {
  height: 6em;
  width: 100dvw;
}

#facebook-logo,
#instagram-logo,
#twitter-logo,
#youtube-logo,
#map-pin-logo {
  height: 3vh;
  width: auto;
  margin: 10px;
  cursor: pointer;
}

#clock {
  color: white;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  width: 100dvw;
  height: 5em;
  padding: 1.5em;
  justify-content: center;
}

.card {
  background: transparent;
  color: #fff;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 0 36% 0 0%;
  text-align: center;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin: 0 12px;
  font-size: large;
}

.flex img {
  width: 30%;
  height: auto;
}

.humidity,
.wind {
  font-size: large;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

#quote-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  width: auto;
  height: 300px;
  padding: 120px 5px 0px 5px;
  font-style: italic;
  color: white;
}

#quote-container > h1 {
  font-size: 22px;
}

@media screen and (min-width: 425px) {
  .card {
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    height: 400px;
    max-width: 500px;
    margin: 0 0% 0 3%;
    text-align: center;
    justify-content: center;
    font-size: large;
  }
}

@media screen and (min-width: 768px) {
  /*
  .gsib_b {
    width: 45dvw;
  }

  #browser-logo {
    height: 8em;
  }

  .soc-media-container {
    gap: 25px;
  }
*/
  #facebook-logo,
  #instagram-logo,
  #twitter-logo,
  #youtube-logo,
  #map-pin-logo {
    height: 4.5vh;
    width: auto;
    margin: 10px;
  }

  #clock {
    font-size: 56px;
    height: 4px;
    align-items: center;
  }

  .card {
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    height: 400px;
    max-width: 500px;
    margin: 0 0% 0 22%;
    text-align: center;
    justify-content: center;
    font-size: large;
  }
  /*
  .search {
    width: 60dvw;
    margin: 0 -31px;
  }

  .description {
    font-size: 25px;
    margin: 0 8px;
  }

  .flex img {
    width: 30%;
    height: auto;
  }

  .humidity,
  .wind {
    font-size: 25px;
  }

  #quote-container {
    font-size: 18px;
    padding: 45px 0 0 0;
    height: 146px;
  }
  */
}

@media screen and (min-width: 1024px) {
  #facebook-logo,
  #instagram-logo,
  #twitter-logo,
  #youtube-logo,
  #map-pin-logo {
    height: 4.5vh;
    width: auto;
    margin: 10px;
  }

  #clock {
    font-size: 56px;
    height: 4px;
    align-items: center;
  }

  .card {
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    height: 400px;
    max-width: 500px;
    margin: 0 0% 0 23%;
    text-align: center;
    justify-content: center;
    font-size: large;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1339px) {
  .card {
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    margin: 0 0 0 28%;
    text-align: center;
    justify-content: center;
    font-size: large;
  }
}

@media screen and (min-width: 1440px) and (max-width: 2555px) {
  .card {
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    margin: 0 0 0 35%;
    text-align: center;
    justify-content: center;
    font-size: large;
  }
}

@media screen and (min-width: 2560px) {
  .card {
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    margin: 0 0 0 41%;
    text-align: center;
    justify-content: center;
    font-size: large;
  }
}
